.container_12           { margin-left: auto; margin-right: auto; width: 1176px; padding: 2px; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12                { display: inline; float: left; margin: 5px; border-radius: 5px; text-align: center;}

.alpha                  { margin-left: 0; }
.omega                  { margin-right: 0; }

.container_12 .grid_1   { width: 88px; background-color: #DF0174;}
.container_12 .grid_2   { width: 186px; background-color: #B40404;}
.container_12 .grid_3   { width: 284px; background-color: #FFFF00;}
.container_12 .grid_4   { width: 382px; background-color: #00BFFF;}
.container_12 .grid_5   { width: 480px; background-color: #0B610B;}
.container_12 .grid_6   { width: 578px; background-color: #F5A9A9;}
.container_12 .grid_7   { width: 676px; background-color: #00BFFF;}
.container_12 .grid_8   { width: 774px; background-color: #C8FE2E;}
.container_12 .grid_9   { width: 872px; background-color: #FF4000;}
.container_12 .grid_10  { width: 970px; background-color: #81F7F3;}
.container_12 .grid_11  { width: 1068px; background-color: #A52A2A;}
.container_12 .grid_12  { width: 1166px; background-color: #ffffff;}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11      { position: relative; }

.container_12 .push_1   { left: 98px; }
.container_12 .push_2   { left: 196px; }
.container_12 .push_3   { left: 294px; }
.container_12 .push_4   { left: 392px; }
.container_12 .push_5   { left: 490px; }
.container_12 .push_6   { left: 588px; }
.container_12 .push_7   { left: 686px; }
.container_12 .push_8   { left: 784px; }
.container_12 .push_9   { left: 882px; }
.container_12 .push_10  { left: 980px; }
.container_12 .push_11  { left: 1078px; }

.container_12 .pull_1   { left: -98px; }
.container_12 .pull_2   { left: -196px; }
.container_12 .pull_3   { left: -294px; }
.container_12 .pull_4   { left: -392px; }
.container_12 .pull_5   { left: -490px; }
.container_12 .pull_6   { left: -588px; }
.container_12 .pull_7   { left: -686px; }
.container_12 .pull_8   { left: -784px; }
.container_12 .pull_9   { left: -882px; }
.container_12 .pull_10  { left: -980px; }
.container_12 .pull_11  { left: -1078px; }

.container_12 .prefix_1 { padding-left: 98px; }
.container_12 .prefix_2 { padding-left: 196px; }
.container_12 .prefix_3 { padding-left: 294px; }
.container_12 .prefix_4 { padding-left: 392px; }
.container_12 .prefix_5 { padding-left: 490px; }
.container_12 .prefix_6 { padding-left: 588px; }
.container_12 .prefix_7 { padding-left: 686px; }
.container_12 .prefix_8 { padding-left: 784px; }
.container_12 .prefix_9 { padding-left: 882px; }
.container_12 .prefix_10 { padding-left: 980px; }
.container_12 .prefix_11 { padding-left: 1078px; }

.container_12 .suffix_1 { padding-right: 98px; }
.container_12 .suffix_2 { padding-right: 196px; }
.container_12 .suffix_3 { padding-right: 294px; }
.container_12 .suffix_4 { padding-right: 392px; }
.container_12 .suffix_5 { padding-right: 490px; }
.container_12 .suffix_6 { padding-right: 588px; }
.container_12 .suffix_7 { padding-right: 686px; }
.container_12 .suffix_8 { padding-right: 784px; }
.container_12 .suffix_9 { padding-right: 882px; }
.container_12 .suffix_10 { padding-right: 980px; }
.container_12 .suffix_11 { padding-right: 1078px; }

.clear                  { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
h3                      { text-align: center; }